footer {
  /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

.categories {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.category-items {
  background-color: #23d160;
  text-align: center;
}
a {
  text-decoration: none;
  color: none;
}
a:hover {
  text-decoration: none;
}
.modified {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
  border-top: 1px solid rgba(0, 0, 0, .125) !important;
  justify-content: flex-start;
}
.submit {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}
.score {
  margin-right: -6px;
  border: 1px solid #00D1B2;
  background: #00D1B2;
  border-radius: 5px;
  width: 90px;
  height: 54px;
  margin-right: 15px;
  margin-bottom: 6px;
}
.score h5 {
  text-align: center;
  margin-top: 16%;
}
.thumbs-icons {
  /*display: flex;
  flex-direction: row;
  width: 30px;
  margin-right: 33px;
  margin-left: -27px;
  padding-right: 0px;
  margin-top: 10px;
  font-size: 20px;*/
}
.down {
  border: 1px solid #FF3860;
  color: red;
  padding: 5px;
}
.up {
  border: 1px solid #23d160;
  color: #23d160;
  padding: 5px;
  margin-right: 2px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 43px;
  text-align: center;
}
.modify-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}

.messageContainer {
  display: flex;
  justify-content: flex-start;
  width: 960px;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.messageBody {
  text-align: center;
  margin: 0 auto;
}

.line-break {
  width: 60%;
}
.title {
  flex: 1;
  margin-right: 50px;
}

.notification {
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  background-color: #00d1b2 !important;
  color: #fff;
  border-radius: 3px;
}
.commentContainer {
  display: flex;
  justify-content: flex-start;
  flex: 0;
}
.readable-header {
  background: white;
  /* -webkit-box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.62); */
  box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.62);
  margin-bottom: 24px;
}

.editButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
}
.navbar {
  background-color: #fff;
  min-height: 3.25rem;
  position: relative;
}
.navbar-item, .navbar-link {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: .5rem 1rem;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}
a:link {
  text-decoration: none !important;
}
.flex-dropdown {
  display: flex;
  justify-content: flex-end;
}
.body-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 10vh;
}
.body-post-items {
  margin-top: 10px;
}
.voting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.textarea {
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
.postDetails {
  display: flex;
}
.postItems {
  flex-direction: column;
}
.bottom {
  display: flex;
}
.site {
  display: flex;
  min-height: 100vh;
}

.box {
  border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
  border-top: 1px solid rgba(0, 0, 0, .125) !important;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: auto;
}
.post-items {
  display: flex;
  text-align: left;
  margin-top: 11px;
}
.post-items-body {
  display: flex;
  flex-direction: column;
}
.items {
  margin-top: 21px;
  margin-bottom: 10px;
}
.content-positioning {
  margin-left: 41px;
}
.content-title {
  font-size: 42px;
}
.comment-body {
  margin-left: 22px;
}
